.add-form{
  width: 307px;
}
.add-form__input{
  width: 307px;
  height: 30px;
  margin-bottom: 20px;

  border: 1px solid #CCCCCC;
  border-radius: 3px;
}
.add-form__submit{
  width: 307px;
  height: 30px;

  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  background: #4997D0;
  border: none;
  border-radius: 3px;
}